<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <nav>
        <h2>목표 생성</h2>
      </nav>
      <div>
        <p>목표 제목</p>
        <input type="text" />
      </div>
      <div>
        <p>목표 설명</p>
        <input type="text" />
      </div>
      <div>
        <p>시작 날짜</p>
        <input type="date" />
        <p>끝 날짜</p>
        <input type="date" />
      </div>
      <div>
        <p>목표 단계 설정</p>
        <button id="addButton">+</button>
        <button id="deleteButton">-</button>
        <div id="goalList">
          <p>1단계 과정</p>
          <input type="text" />
        </div>
      </div>
      <input type="submit" value="생성" />
    </div>
    <script>
      const addButton = document.querySelector("#addButton");
      const goalList = document.querySelector("#goalList");
      const deleteBnt = document.querySelector("#deleteButton");
      let sum = 2;

      addButton.addEventListener("click", () => {
        if (sum <= 5) {
          const newDiv = document.createElement("div");
          const newP = document.createElement("p");
          newP.textContent = `${sum++}단계 과정`;
          const newInput = document.createElement("input");

          newDiv.appendChild(newP);
          newDiv.appendChild(newInput);
          goalList.appendChild(newDiv);
        } else {
          alert("더 이상 생성 불가합니다.");
        }
      });

      deleteBnt.addEventListener("click", () => {
        const lastChild = goalList.lastElementChild;
        if (sum >= 3) {
          goalList.removeChild(lastChild);
          sum--;
        } else {
          alert("최소 1단계 이상은 작성 해야합니다.");
        }
      });
    </script>
  </body>
</html>
