<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>정기성 홈페이지</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <div class="container">
      <%- include("nav.ejs") %>
      <p>제목</p>
      <p><%= detail.title %></p>
      <p>내용</p>
      <p><%= detail.content %></p>
    </div>
  </body>
</html>
