<div class="nav">
  <a href="/" style="font-weight: bold; font-size: 18px">TTANGZZI</a>
  <a href="/write">게시글 작성</a>
  <div class="nav_user">
    <a class="nav_login" href="#">로그인</a>
    <a class="nav_regist" href="#">회원가입</a>
  </div>
</div>
