<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/progressbar.js/1.1.0/progressbar.min.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <h2>목표 관리</h2>
      </nav>
      <% for(let i = 0; i < goal.length; i++) { %>
      <div>
        <div>
          <p><%= goal[i].title %></p>
          <p id="percent"><%= goal[i].percent %></p>
        </div>

        <div id="progress" class="progress<%= i %>"></div>
      </div>
      <% } %>
      <a href="/createGoal">생성</a>
    </div>

    <script>
      const progresses = document.querySelectorAll("#progress");
      const percent = document.querySelectorAll("#percent");

      for (let i = 0; i < progresses.length; i++) {
        const percentParse = parseInt(percent[i].innerText) / 100;

        const dateBar = new ProgressBar.Line(`.progress${i}`, {
          strokeWidth: 1, // 선 두께 설정
          easing: "easeInOut", // 애니메이션 방식
          duration: 1000, // 0에서 100%로 애니메이션 되는데 걸리는 시간(밀리초)
          color: "#FFEA82", // 프로그래스바의 색상
          trailColor: "#fff", // 배경색
          trailWidth: 0.5, // 배경색의 선 두께

          svgStyle: { width: "100%", height: "50%" }, // SVG 요소 스타일 설정
          from: { color: "#FFEA82" }, // 시작 색상 설정
          to: { color: "#ED6A5A" }, // 끝 색상 설정
          step: (state, bar) => {
            bar.path.setAttribute("stroke", state.color);
          },
        });
        const bar = new ProgressBar.Line(`.progress${i}`, {
          strokeWidth: 4, // 선 두께 설정
          easing: "easeInOut", // 애니메이션 방식
          duration: 1000, // 0에서 100%로 애니메이션 되는데 걸리는 시간(밀리초)
          color: "#FFEA82", // 프로그래스바의 색상
          trailColor: "#fff", // 배경색
          trailWidth: 1, // 배경색의 선 두께

          svgStyle: { width: "100%", height: "100%" }, // SVG 요소 스타일 설정
          from: { color: "#FFEA82" }, // 시작 색상 설정
          to: { color: "#ED6A5A" }, // 끝 색상 설정
          step: (state, bar) => {
            bar.path.setAttribute("stroke", state.color);
          },
        });

        dateBar.animate(0.2);
        bar.animate(percentParse);
      }
    </script>
  </body>
</html>
