@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.hidden {
  display: none;
}

* {
  margin: 0px;
}

html {
  font-family: "GowunDodum-Regular";
}

body {
  width: 100%;
  height: 1000px;
  background-color: #ddd;
}
.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 1px;
}

.container .post_container {
  width: 900px;
  height: 100%;
  margin: 0px auto;
  padding-top: 20px;
}

.container .post_container .post_header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px 0;
  padding: 0 20px;
}

.container .post_container .post_header span:nth-child(1),
.container .post_container .post_bottom a:nth-child(1) {
  flex: 1; /* 남은 공간을 비율대로 분배 (예시) */
}

.container .post_container .post_header span:nth-child(2),
.container .post_container .post_bottom a:nth-child(2) {
  flex: 1.5; /* 더 많은 공간을 차지 */
}

.container .post_container .post_header span:nth-child(3),
.container .post_container .post_bottom span:nth-child(3) {
  flex: 0.5; /* 더 적은 공간을 차지 */
}

.container .post_container .post_header span:nth-child(4) {
  flex: 0.6;
}

.container .post_container .post_bottom span:nth-child(4) {
  flex: 0.5;
}

.container .post_container .post_bottom span:nth-child(5) {
  flex: 0.1;
}

.container .post_container .post_bottom .post_item {
  width: 860px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .post_container .post_bottom .post_item .quick_delete {
  padding-bottom: 5px;
}

.container .nav {
  width: 900px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #ccc;
}

.container .nav .nav_user .nav_login,
.container .nav .nav_user .nav_regist {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/* -------------- write.ejs ---------------- */
.write_form {
  width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}

.write_box {
  width: 100%;
  text-align: center;
}

.write_title {
  width: 90%;
  height: 30px;
  margin: 0 auto;
  font-size: 25px;
  padding: 0 10px;
  border: none;
  border-bottom: 1px solid #999;
  display: block;
  background-color: #eee;
}

.write_title:focus {
  outline: none;
}

.write_content {
  width: 90%;
  height: 100px;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #eee;
  resize: none;
  word-spacing: -2px;
}

.write_content:focus {
  outline: none;
}

.write_btn {
  width: 100px;
  height: 40px;
  margin-left: 550px;
  border: 1px solid #999;
  border-radius: 5px;
  background-color: #eee;
}

.write_btn:hover {
  background-color: #ddd;
}

.write_btn:focus {
  background-color: #ccc;
}

/* -------------- detail.ejs ---------------- */
.detail_box {
  width: 700px;
  height: 500px;
  margin: 0 auto;
  margin-top: 200px;
}

.detail_title {
  border-bottom: 1px solid #999;
  padding: 0 0 5px 5px;
}

.edit_or_delete {
  position: relative;
  padding: 5px 0 5px 5px;
}

.edit_or_delete .edit {
  position: absolute;
  right: 50px;
  font-size: 14px;
  color: #222;
}

.edit_or_delete .delete {
  position: absolute;
  right: 5px;
  padding: 0;
  border: none;
  font-size: 14px;
  color: #222;
  font-family: "GowunDodum-Regular";
}

.detail_content {
  margin-top: 30px;
  padding: 5px 0 5px 5px;
}
