@font-face {
  font-family: "GowunDodum-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/GowunDodum-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
}

html {
  font-family: "GowunDodum-Regular";
}

body {
  width: 100%;
  height: 1000px;
  background-color: #ddd;
}
.container {
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  background-color: #eee;
  border-radius: 1px;
}

.container .post_container {
  width: 900px;
  height: 100%;
  margin: 0px auto;
  padding-top: 20px;
}

.container .post_container .post_header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 10px 0;
  padding: 0 20px;
}

.container .post_container .post_header span:nth-child(1),
.container .post_container .post_bottom a:nth-child(1) {
  flex: 1; /* 남은 공간을 비율대로 분배 (예시) */
}

.container .post_container .post_header span:nth-child(2),
.container .post_container .post_bottom a:nth-child(2) {
  flex: 1.5; /* 더 많은 공간을 차지 */
}

.container .post_container .post_header span:nth-child(3),
.container .post_container .post_bottom span:nth-child(3) {
  flex: 0.5; /* 더 적은 공간을 차지 */
}

.container .post_container .post_header span:nth-child(4),
.container .post_container .post_bottom span:nth-child(4) {
  flex: 0.5;
}

.container .post_container .post_bottom .post_item {
  width: 860px;
  height: 60px;
  margin-bottom: 10px;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .nav {
  width: 900px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 15px 15px 15px 15px;
  border-bottom: 1px solid #ccc;
}

.container .nav .nav_user .nav_login,
.container .nav .nav_user .nav_regist {
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}
